@model List<EmployeeViewModel>

    <head>



        <!-- DevExtreme theme -->
        <link rel="stylesheet" href="~/css/devextreme/dx.greenmist.css">



    </head>

    <body>



        <h1 class="title-formular">Applicants</h1>







    </body>

<div id="futureEmployeeTableContainer" style="border: 5px outset lightblue;"></div>

<script>
    var futureEmployees = @Html.Raw(Json.Serialize(@Model));
</script>


<script src="~/js/FutureEmployees.js"></script>﻿