#Junk Files
*.DS_Store
[Tt]humbs.db

#Visual Studio Files
[Oo]bj
[Bb]in
[Dd]ebug
[Bb]uild/
*.user
*.suo
*.exe
*.pdb
*.aps
*_i.c
*_p.c
*.ncb
*.tlb
*.tlh
*.[Cc]ache
*.bak
*.ncb
*.ilk
*.log
*.lib
*.sbr
*.sdf
ipch/ 
*.dbmdl
*.csproj.user
*.cache
*.swp
*.vspscc
*.vssscc
*.bak.*
*.bak
*.sqlite
*.sqllite-journal
#Tools
_ReSharper.*d
_ReSharper*/
*.resharper
*.resharper.user
[Nn][Dd]epend[Oo]ut*/
Ankh.NoLoad

#Other
.svn
.sqlite
.suo

/.vs
/debug
/obj
FactoryManagement/.vs/FactoryManagement/config/applicationhost.config
FactoryManagement/.vs/FactoryManagement/DesignTimeBuild/.dtbcache.v2
FactoryManagement/.vs/FactoryManagement/config/debuggerConfiguration-8df2ba36-4b60-4bc4-b796-387978dd4935.json
*.config
*.v2
