@model List<JobViewModel>

    <head>

        <!-- DevExtreme theme -->
        <link rel="stylesheet" href="~/css/devextreme/dx.greenmist.css">

    </head>



    <body>

        <h1 class="title-formular">Our Jobs</h1>

        <div id="jobContainer"></div>



    </body>







<script>
   

    var jobs = @Html.Raw(Json.Serialize(@Model));
    console.log(jobs);

    
   
</script>


<script src="~/js/Job.js"></script>﻿

