<<<<<<< Updated upstream
﻿@model IEnumerable<HRDepartment.Models.Job>


<div id="jobContainer"></div>


<script>
    var jobs = @Html.Raw(Json.Serialize(@Model))
</script>


<script src="~/js/Job.js"></script>
=======
﻿
@using HRDepartment.Models;

@model HRDepartment.Models.Job


@foreach (Job customer in ViewBag.Jobs)
{
    <tr>
        <td>@customer.JobId</td>
        <td>@customer.JobName</td>
        <br/>
    </tr>
}
>>>>>>> Stashed changes
